<main class="form-signin bg-light py-5">
	<div class="container py-5">
		<h1 class="h3 mb-3 fw-normal text-center">Авторизация!</h1>
		<div class="container py-5">
			<div class="mb-3">
	    		<label for="email" class="form-label">Email пользователя</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
	    	</div>
	    	<div class="mb-5">
	    		<label for="password" class="form-label">Пароль пользователя</label>
	    		<input type="password" name="password" class="form-control" id="password" placeholder="******">
	    	</div>
	    	<div class="py-2">
		    	<div class="mb-3 w-100 row justify-content-center">
		    		<button id="button_sbm" class="btn btn-primary col-md-auto px-5" style="text-align: center;" type="button">Вход</button>
		    	</div>
		    	<div class=" w-100 row justify-content-center">
			        <a class="btn btn-secondary col-md-auto px-5" type='button' href="../register/">Регистрация</a>
			    </div>
			    <div class="py-3 mb-3 text-center row justify-content-center">
			    	<div class="col col-md-auto">
		    			<div id="responce"></div>
			    	</div>
		    	</div>
	    	</div>
		</div>
	</div>
</main>