<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="min-width: 280px; max-width: 280px; min-height: 80vh; max-height: 80vh;">
	<a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap"/>
		</svg>
		<span class="fs-4">Пользователи</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto" style="overflow: auto;">
		<?php
			foreach ($response as $row_id => $row_array) {
				echo 
				"<li class='nav-item mb-3'>
					<a href='../profile/?".$row_array['id']."' class='nav-link active' aria-current='page'>
						<svg class='bi me-2' width='16' height='16'>
							<use xlink:href='#home'/>
						</svg>".$row_array['name']."
					</a>
				</li>";
			}
		?>
	<hr>
	<div class="text-center">
		<a href="../profile/" class="d-flex align-items-center text-white text-decoration-none">
			<img src="../_images/users_profile_logo.svg" width="32" height="32" class="me-2">
			<strong>
				<?php
					echo $nick;
				?>
			</strong>
		</a>
	</div>
</div>