<main class="form-signin bg-light py-5">
	<div class="container py-5 mb-3">
		<form action="." method="POST">
			<h1 class="h3 fw-normal text-center">Пожалуйста зарегистрируйтесь!</h1>
			<div class="container py-5">
				<div class="mb-3">
					<label for="email" class="form-label">Email пользователя</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
				</div>
				<div class="mb-5">
					<label for="password" class="form-label">Пароль пользователя</label>
					<input type="password" name="password" class="form-control" id="password" placeholder="******">
				</div>
				<div class="py-2">
					<div class="mb-3 w-100 row justify-content-center">
						<button class="btn btn-primary col-md-auto" style="text-align: center;" type="submit">Зарегистрироваться</button>
					</div>
					<div class="w-100 row justify-content-center">
						<a class="btn btn-secondary col-md-auto" style="text-align: center;" type="submit" href="../auth/">Войти</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</main>