<main>
    <h1 class="h3 mb-3 fw-normal py-5 text-center">Изменение пароля</h1>
	<div class="container">
		<form action="." method="POST">
			<input name="changepassword" hidden>
			<div class="mb-3">
				<label for="old">Текущий пароль</label>
				<input class="form-control" type="password" name="old" id="old" placeholder="******">
			</div>
			<div class="mb-3">
				<label for="new">Новый пароль</label>
				<input class="form-control" type="password" name="new" id="new" placeholder="******">
			</div>
			<div class="row justify-content-center mb-3 py-5">
                <div class="col-md-auto">
                    <button class="btn btn-primary" type="submit">Принять</button>
                </div>
            </div>
		</form>
	</div>
</main>